{% extends './base.html' %}
{% load static %}
{% block csslinks %}
    <link rel="stylesheet" href="{% static '/css/apps/todos/login_signup.css'%}">
{% endblock csslinks %}

{% block barner_title %}
    Todos | Login
{% endblock barner_title %}

{% block links %}
    <a href="{% url 'index' %}"><li>Home</li></a>
    <a href="#"><li class="active">Login</li></a>
    <a href="{% url 'signup'%}"><li>SignUp</li></a>

{% endblock links %}


{% block application %}
    <div class="form_container">
        <div class="center">
            {% if error %}
                <div class="error">{{error}}</div>
            {% endif %}
            <form class="fields" method="POST">
                {% csrf_token %}
                <h2 class="title">Login</h2>
                <input type="text" name="username" placeholder="email@domain.com"/>
                <input type="password" name="password" placeholder="Password"/>
                <button type="submit" class="round submit">Login</button>
            </form>
        </div>
    </div>

{% endblock application %}

